<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/pageLayout :: head"></div>
<body class="d-flex align-items-center justify-content-center vh-100 loginSignUpBody">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-5">
            <div class="card rounded-bottom shadow bg-white">
                <div class="card-header text-center text-white loginSignUpCardHeader">
                    <h4 class="fw-bold mt-2">Login to Your Account</h4>
                </div>
                <div class="card-body">
                    <div>
                    <h4 class="text-center mb-3">Enter your username, email or phone number</h4>
                    <form th:action="@{/loginPart2}" method="post">
                        <div class="form-floating mb-3 mx-5">
                            <input type="text" id="loginInput" name="loginInput" class="form-control" placeholder="Username, Email, Phone Number" required>
                            <label for="loginInput">Username, Email, Phone Number</label>
                        </div>
                        <div th:if="${errorMessage}" class="alert alert-danger mt-2 mx-5" role="alert">
                            <span th:text="${errorMessage}"></span>
                        </div>
                        <div class="form-group text-center">
                            <button type="submit" class="btn fs-3 btn-primary btn-block col-md-5 rounded-pill">Continue</button>
                        </div>
                    </form>
                        <hr style="margin: 27px;" />
                            <p class="text-center mt-4">Don't have an account? <a th:href="@{/showSignUpPage}">Sign Up</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>