<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="fragments/pageLayout :: head"></div>
<body class="d-flex align-items-center justify-content-center vh-100 loginSignUpBody">
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card rounded-bottom shadow bg-white">
                <div class="card-header text-center text-white loginSignUpCardHeader">
                    <h4 class="fw-bold">Login to Your Account</h4>
                </div>
                <div class="card-body">
                    <div>
                        <h4 class="text-center mt-2">Enter your password</h4>

                        <form th:action="@{/loginUserAccount}" method="post" th:object="${userLogin}">
                            <div class="form-floating mx-5">
                                <input type="password" id="password" name="password" class="form-control mt-4"
                                       placeholder="Password" required>
                                <label for="password">Password</label>
                            </div>

                            <div th:if="${errorMessage}" class="alert alert-danger mt-2 mx-5" role="alert">
                                <span th:text="${errorMessage}"></span>
                            </div>

                            <div class="form-group text-center">
                                <input type="hidden" id="loginInput" th:field="*{loginInput}"/>
                                <button type="submit" class="btn fs-2 btn-primary btn-block my-3 col-md-6 rounded-pill">
                                    Continue
                                </button>
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>